<a href="https://colab.research.google.com/github/briandrichey/CS433_CPU_scheduler/blob/main/HamRadio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
root_path = 'gdrive/MyDrive/';

In [ ]:
import pandas as pd
#pandas_data = pd.read_csv("gdrive/MyDrive/ham_data.csv", sep = ",",names=list(range(11))) 
pandas_data = pd.read_csv("gdrive/MyDrive/ham_data.csv", sep = ",",names=['date','time','base', 'txrx', 'encoding', 'signal_strength', 'timedelay','offset','rxcall','txcall','message'])

In [ ]:
pandas_data.info()

In [ ]:
pandas_data.describe()

                date           time  ...      timedelay         offset
count  659914.000000  659914.000000  ...  659914.000000  659914.000000
mean   210533.577539  197402.538488  ...       0.187027    1451.856948
std        70.635656   25507.488314  ...       0.463300     682.661424
min    210422.000000       0.000000  ...      -2.600000      98.000000
25%    210504.000000  182330.000000  ...       0.000000     900.000000
50%    210519.000000  201915.000000  ...       0.200000    1430.000000
75%    210608.000000  214015.000000  ...       0.400000    1983.000000
max    210625.000000  235952.000000  ...       2.500000    3633.000000

[8 rows x 6 columns]

In [ ]:
pandas_data.iloc[0]

date               210422
time               164145
base                7.074
txrx                   Rx
encoding              FT8
signal_strength       -13
timedelay             0.1
offset                103
rxcall                 CQ
txcall              W0WND
message              DM97
Name: 0, dtype: object

In [ ]:
import numpy as np
dat = pandas_data['date'] 
year = np.zeros(np.array(dat).size)
month = np.zeros(np.array(dat).size)
day = np.zeros(np.array(dat).size)
for i in range(np.array(dat).size):
    year[i] = int(str(dat[i])[0:2]) 
    month[i] = int(str(dat[i])[2:4])
    day[i] = int(str(dat[i])[4:6])

In [ ]:
tim = pandas_data['time'] 
hour = np.zeros(np.array(tim).size)
minutes = np.zeros(np.array(tim).size)
seconds = np.zeros(np.array(tim).size)
for i in range(np.array(tim).size): 
  if(len(str(tim[i]))== 6): 
    hour[i] = int(str(tim[i])[0:2]) 
    minutes[i] = int(str(tim[i])[2:4]) 
    seconds[i] = int(str(tim[i])[4:6])

In [ ]:
base_freq = np.array(pandas_data['base'] ) 
#signal = np.array(pandas_data['signal_strength'][pandas_data['signal_strength'] < 25]) 
signal = np.array(pandas_data['signal_strength'])
time_delay = np.array(pandas_data['timedelay'])
freq_offset = np.array(pandas_data['offset']/1000)

In [ ]:
pandas_data_2 = pd.read_csv("gdrive/MyDrive/ham_data_2.csv", encoding='latin-1')

In [ ]:
pandas_data_2.describe()

                Line   Date(yymmdd)  ...     Delta Time  Frequency Offset (kHz)
count  659914.000000  659914.000000  ...  659914.000000           659914.000000
mean   329957.500000  210533.577539  ...       0.187027             1451.856948
std    190500.907108      70.635656  ...       0.463300              682.661424
min         1.000000  210422.000000  ...      -2.600000               98.000000
25%    164979.250000  210504.000000  ...       0.000000              900.000000
50%    329957.500000  210519.000000  ...       0.200000             1430.000000
75%    494935.750000  210608.000000  ...       0.400000             1983.000000
max    659914.000000  210625.000000  ...       2.500000             3633.000000

[8 rows x 9 columns]

In [ ]:
from sklearn import preprocessing 

X_processed_data = {'hour': hour.astype(int), 'minute': minutes.astype(int), 'seconds': seconds.astype(int),
                  'rs' : signal, 'dt' : time_delay}

In [8]:
X = pd.DataFrame(X_processed_data)
print('\nprocessed inputs = \n', X)

NameError: ignored

In [7]:
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier

y = base_freq.astype(str)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

model = DecisionTreeClassifier() 
# model = DecisionTreeClassifier() #selection du modele voulu
model.fit(X_train, y_train)

NameError: ignored

In [ ]:
predictions = model.predict(X_test)
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay, classification_report
cm = confusion_matrix(y_test, predictions, labels=model.classes_)
cm

print(classification_report(y_test, predictions, labels=model.classes_))
disp = ConfusionMatrixDisplay(confusion_matrix=cm, display_labels=model.classes_)
disp.plot()